Source: raspicam
Section: libdevel
Priority: optional
Maintainer: matzeton <pi@raspberrypi>
Build-Depends: debhelper (>= 9), cmake, libopencv-dev (>= 2.4.9.1)
Standards-Version: 3.9.5
Homepage: https://github.com/cedricve/raspicam

Package: raspicam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libraspberrypi0 (= 1.20160523-1), libraspberrypi-bin (= 1.20160523-1), libraspberrypi-dev (= 1.20160523-1), raspberrypi-bootloader (= 1.20160523-1), raspberrypi-kernel (= 1.20160523-1)
Description: C++ API for using Raspberry camera (with OpenCV)
 A C++ API for using Raspberry camera (with OpenCV).
